extends layout

block content
  body
    h1=title
      
    .container
        table#pickle.display
            thead
                tr
                    th Run number
                    th Priority
                    th createdOn
                    th startTime
            tbody
                each run, i in runs
                  tr
                    td(scope='row')= run.payload.number
                    td= run.priority
                    td= run.createdOn
                    td= run.startTime

    script(src='/javascripts/queuetable.js')




    
