extends layout

block content
  body
    h1=title
      
    .container
        table#pickle.table.table-hover.table-striped.table-bordered
            thead
                tr
                    th Host
                    th heartBeat
                    th startTime
                    th run
                    th runStart
            tbody
                each run, i in runs
                  tr
                    td(scope='row')= run.host
                    td= run.heartBeat
                    td= run.startTime
                    td= run.run
                    td= run.runStart

    script.
      $(document).ready(function() {
        $('#pickle').DataTable({"columnDefs": [
            {
                "render": function ( data, type, row ) {
                    return moment(data).fromNow();
                },
                "targets": [1, 2, 4],
            }
        ]})
        })

    
