extends layout

block content
  body
    h1=title
      
    .container
        table#pickle.display
            thead
                tr
                    th Host
                    th heartBeat
                    th startTime
                    th run
                    th runStart
            tbody
                each run, i in runs
                  tr
                    td(scope='row')= run.host
                    td= run.heartBeat
                    td= run.startTime
                    td= run.run
                    td= run.runStart

    
    script(src='/javascripts/workers.js')


